body {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(82, 34, 43)

}

img {
    height: 100%;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

#left{
    left: 0;
}
#right{
    cursor: pointer;
}
.static{
    left: 100%;
    transform: translateX(-100%)
}
@media (max-width: 480px) {
  img {
    height: min(80vh, 520px);
  }
}
