body {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color:blueviolet
}

img {
    height: 100%;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

#left{
    left: 0;
}
#right{
    cursor: pointer;
}
.static{
    left: 100%;
    transform: translateX(-100%)
}